@font-face {
    src: url('AntykwaTorunskaCondMed-Regular.ttf');
}

.root{
	-fx-text-fill: black;
    -fx-font-size: 14pt;
    -fx-font-family: 'AntykwaTorunskaCondMed-Regular';
    -fx-base: #ccffb3;
    -fx-background-color:  #009999; 
    
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-text-fill: black;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background:  #00ced1 ;
    -fx-opacity: 0.8;
    -fx-text-fill: black;
    
}

.menu-item {
    -fx-text-fill: black;
    -fx-background: #00ced1 ;
}
.menu-item .label{
    -fx-font-size: 14.0 pt;
    -fx-text-fill: black;
}
.menu-item .label:hover{
    -fx-font-size: 14.0 pt;
    -fx-background: black ;
    -fx-opacity: 0.8;
    -fx-text-fill: white;
}

.top{
   -fx-text-fill: white;
   -fx-background-color: #009999; 
   -fx-padding: 7;
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
	
}

.left{
   -fx-text-fill: white;
   -fx-background-color: #003333 ; 
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   }

.left .text {
	-fx-font-size: 30px;
    -fx-text-fill: white;
    
}

.left .label{
	-fx-text-fill: white;
}

.right {
   -fx-font-family: 'AntykwaTorunskaCondMed-Regular';
   -fx-text-fill: black;
   -fx-font-size: 16pt;
   -fx-background-color: #63b7af;
   -fx-padding: 5;
   -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
   -fx-border-color: yellowgreen;

}

.right .text{
	-fx-font-size: 16px;
    -fx-text-fill: black;
}

.bottom {
   -fx-font-family: 'AntykwaTorunskaCondMed-Regular';
   -fx-text-fill: black;
   -fx-font-size: 13pt;
   -fx-background-color: #1fad8a; 
   -fx-padding: 5;
}

.bottom .label {
    -fx-font-size: 12px;
    -fx-text-fill: black;
}
.hangman {
    -fx-stroke: coral;
    -fx-stroke-width:4;
}


.button {
    -fx-text-fill: black;
    -fx-font-size: 12pt;
	-fx-font-weight: bold;
    -fx-background-color:  lightblue;
    -fx-border-radius: 14;
    -fx-background-radius: 14;
	-fx-padding: 4;
	-fx-border-color: #e9967a;
    -fx-border-width: 0 3 3 0;
    -fx-background-insets: 0;
}

.button:hover {
	-fx-background-color:  #ff6347;
	-fx-border-color:  #4682b4;
}
.button:pressed {
    -fx-background-color: linear-gradient( #00ced1,  #afeeee);
}

.button1{    
	-fx-padding: 3 8 8 7;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
    	linear-gradient(from 0% 93% to 0% 100%,   #2f4f4f 0%, #00ced1 100%),
        radial-gradient(center 50% 50%, radius 100%, #fa8072,  #f4a460);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 1.1em;
}



.button1:hover {
   -fx-background-color: 
   linear-gradient(from 0% 93% to 0% 100%,   #2f4f4f 0%, #00ced1 100%),
        #87cefa,
        #48d1cc,
   radial-gradient(center 50% 50%, radius 100%, white, #87CEFA,  #6495ED);
}

.label {
    -fx-font-size: 12px;
    -fx-text-fill: white;
}


.text{
	-fx-text-fill: black;	
	-fx-font-size: 17px;
	-fx-font-smoothing-type: lcd;
	-fx-text-origin:	baseline; 
}


.fancytext {
    -fx-font-size: 25px;
    -fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, darkorange 50%);
    -fx-stroke: black;
    -fx-stroke-width: 1;
}

